body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  display: flex;
  background: hsla(157, 85%, 50%, 1);
}

nav {
  background: hsla(157, 85%, 50%, 1);
  height: 250px;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

ul {
  padding: 0;
  margin: 0;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 250px;
  height: 250px;
}

nav a {
  display: block;
  padding: 25px 25px;
  text-decoration: none;
  color: black;
  font-size: 40px;
}

nav a:hover{
  color: hsl(187, 85%, 20%);
  text-decoration: none;
}

.icon {
  display: none;
}

h2 {
  text-align: center;
  padding-top: 10px;
}

h4 {
  text-align: center;
}

h3 {
  display: inline;
}

button {
  background-color: hsla(187, 85%, 50%, 1);
  border-radius: 5px;
}

button:hover {
  background-color: hsla(187, 85%, 65%, 1)
}

button:active {
  background-color: hsla(187, 85%, 35%, 1);;
}

footer p {
  text-align: center;
  vertical-align: center;
  font-size: 20;
}

p {
  text-align: center;
  vertical-align: center;
}

.container-fluid a {
  text-decoration: none;
  color: black;
}

.container-fluid a:hover {
  text-decoration: none;
  color: hsl(157, 85%, 20%);
}

input[type=number] {
  width: 50px;
  margin: 20px 50px;
  background-color: hsla(127, 85%, 80%, 1);;
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

input[type=submit] {
  background-color: hsl(127, 85%, 35%);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: hsl(127, 85%, 20%);
}

.form-container {
  border-radius: 5px;
  background-color: hsl(187, 85%, 80%);
  padding: 20px;
  margin-top: 50px;
}

.logo {
  transition: opacity 2s;
}

.logo:hover {
  opacity: 50%;
}

.proizvod img {
  transition: all 0.3s ease-out;
}

.proizvod img:hover {
	transform: scale(1.1, 1.1);
}

.proizvod {
  overflow: hidden;
}




@media screen and (max-width: 768px){
  nav {
    height: auto;
    display: none;
  }

  nav a {
    padding: 0;
    font-size: 25px;
  }

  .logo {
    width: 150px;
    height: 150px;
    align-self: center;
  }

  header {
    flex-direction: column;
  }

  ul {
    flex-direction: column;
    padding: 0;
  }

  a.icon {
    background: hsl(187, 85%, 20%);
    color: white;
    display: block;
    position: absolute;
    right: 25px;
    top: 45px;
    padding: 15px;
    border-radius: 25px;
  }
}